<header id="top" class="header">
  <div class="text-vertical-center">
    <h1 style="background-color: rgb(255,255,0,0.5); display: inline">Save Cobble Hill's Peaceful Enjoyment</h1>
    <br>
    <h3 style=background-color: rgb(255,255,0,0.5); display: inline">For over 40 years Cobble Hill Apartments has been an oasis for the neighborhood, providing much needed greenery for the city, and affordable housing for those in need. Now this community needs your help and protection. </h3>
    <h3 style="color: white; background-color: rgb(255,255,255,0.3)">Save Cobble Hill's 37 parking spaces at 74 & 84 Washington St</h3>
    <h3 style="color: white; background-color: rgb(255,255,255,0.3)">Save Cobble Hill's 84 Washington St alleyway for waste removal</h3>
    <h3 style="color: white; background-color: rgb(255,255,255,0.3)">Save East Somerville's green canopy!</h3>
    <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
  </div>
</header>
