<header id="top" class="header">
  <div class="text-vertical-center">
    <h1 style="background-color: rgb(255,255,0,0.5); display: inline">Save Cobble Hill's Peaceful Enjoyment</h1>
    <h3 style="color: white; background-color: rgb(255,255,255,0.3); display: inline">Save Cobble Hill's Berm and its surrounding 85 mature trees</h3>
    <h3 style="color: white; background-color: rgb(255,255,255,0.3); display: inline">Save Cobble Hill's 37 parking spaces at 74 & 84 Washington St</h3>
    <h3 style="color: white; background-color: rgb(255,255,255,0.3); display: inline">Save Cobble Hill's 84 Washington St alleyway for waste removal</h3>
    <h3 style="color: white; background-color: rgb(255,255,255,0.3); display: inline">Save East Somerville's green canopy!</h3>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
  </div>
</header>
